<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <a routerLink="/" class="navbar-brand">
      <img src="./favicon.ico" class="logo" alt="">
      <i class="text-white">Movies App</i>
    </a>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav m-auto">
        <li class="nav-item"><a href="" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="" class="nav-link">Movies</a></li>
        <li class="nav-item"><a href="" class="nav-link">Favourite</a></li>
        <li class="nav-item"><a href="" class="nav-link">About</a></li>
      </ul>
      <form class="form-inline mx-auto">
  <div class="input-group">
    <input type="text" class="form-control text-white" style="background-color: black;" placeholder="Search ...">
    <div class="input-group-append">
      <button class="btn btn-light" type="submit">
        <i class="material-icons">search</i>
      </button>
    </div>
  </div>
</form>

       <ul class="navbar-nav ml-auto align-items-center">
           <li class="nav-item"><a href="" class="nav-link">
            <i class="material-icons">favorite</i>
           </a></li>
           <li class="nav-item"><a href="" class="nav-link dropdown-toggle">
            <i class="material-icons">Account</i>
           </a></li>
        <div class="dropdown-menu dropdown-menu-right">
          <a href="" class="dropdown-item"><i class="fa fa-user-plus"></i>Register</a>
          <a href="" class="dropdown-item"><i class="fa fa-sign-in"></i>Login</a>
        </div>

       </ul>

    </div>
  </div>
</nav>
